/* Reseta o estilo padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   /* Estilo para o corpo */
   body {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #4b7747;
    color: #e7d7d7;
   }
   /* Estilo do cabeçalho */
   header {
    background: #582a2a;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
 margin-bottom: 0.5rem;
}
header nav ul {
 list-style: none;
}
header nav ul li {
 display: inline;
 margin: 0 0.5rem;
}
header nav ul li a {
 color: #ffffff;
 text-decoration: none;
}
header nav ul li a:hover {
 text-decoration: underline;
}
/* Estilo para o conteúdo principal */
main {
 padding: 1rem;
 margin: 1rem 0;
}
/* Estilo das seções */
section {
    margin-bottom: 2rem;
   }
   section h2 {
    margin-bottom: 1rem;
    color: #000000;
   }
   /* Estilo do rodapé */
   footer {
    background: #642828;
    color: #c2b6b6;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
   }